.main-chat 
  .main-chat__group
    .main-chat__group__name
      = @group.name
      .main-chat__group__name__list
        .main-chat__group__name__list__member
          member : 
        .main-chat__group__name__list__main-member
          - @group.users.each do |user|
            = user.name
    .main-chat__group__edit
      = link_to 'edit', edit_group_path(@group)
  .main-chat__message-list
    = render @messages
  .main-chat__message__form
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .input-box
        = f.text_field :content, class: "input-box__text", placeholder: "type a message"
        = f.label :image, class: "input-box__image" do
          = icon('fas', 'image')
          = f.file_field :image, class: "input-box__image__file"
      = f.submit "Send", class: "submit-btn"



-# .main-chat__message__form
-#     = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
-#       .input-box
-#         %input{type: "text", class: "input-box__text", placeholder: "type a message"}
-#         %label{class: "input-box__image"}
-#           = icon('fas', 'image')
-#           %input{type: "file", class: "input-box__image__file"}
-#       %input{type: "submit", value: "SEND", class: "submit-btn"}
