.side_bar
  .side_bar__user
    .side_bar__user__name
      .side_bar__user__name__user_name
        = current_user.name
      .icon
        =link_to new_group_path do
          =icon('fa', 'edit',class: 'icone')
        =link_to '#' do
          = link_to edit_user_path(current_user) do
            = icon('fa', 'cog',class: 'iconc')
        
        
  .side_bar__group
    - current_user.groups.each do |group|
      .side_bar__group__group_team
        = link_to '#' do
          .side_bar__group__group_team__group_name
            = group.name
          .side_bar__group__group_team__group_message
            メッセージはまだありません


